<h1>{{title}} stats of Covid-19 by country</h1>
<div name="outerList">
  <ul *ngFor="let country of countries">

  <button (click)="showStats(country.Country)">{{country.Country}} </button>

  </ul>
</div>

<div name="details" *ngIf="selectedCountry">
  <p>NewConfirmed: {{selectedCountry.NewConfirmed}}</p>
  <p>TotalConfirmed: {{selectedCountry.TotalConfirmed}}</p>
  <p>NewDeaths: {{selectedCountry.NewDeaths}}</p>
  <p>TotalDeaths: {{selectedCountry.TotalDeaths}}</p>
  <p>NewRecovered: {{selectedCountry.NewRecovered}}</p>
  <p>TotalRecovered: {{selectedCountry.TotalRecovered}}</p>
  <p>Date: {{selectedCountry.Date}}</p>
</div>

